############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

############################
# Environment
############################
.env
.env.*
!.env.example

############################
# Node / Next.js
############################
node_modules/
.next/
out/
dist/
build/
.next/cache/
*.tsbuildinfo

############################
# Java / Spring Boot
############################
target/
build/
out/
.gradle/

############################
# Compiled
############################
*.class
*.jar
*.war
*.ear

############################
# IDE
############################
.vscode/
.idea/
*.iml

############################
# Temp
############################
tmp/
temp/
*.swp
*.swo
